# Dependencies and package manager
node_modules/
package-lock.json

# Releases
dist/

# Neutralinojs (minified) client 
# neutralino.js

# Compiled
app/build/
extensions/build/

# Miscellaneous
.storage
*.log
.tmp/
