# Install dependencies and package manager files
node_modules/
package-lock.json

# Neutralinojs binaries and builds
dist/

# Neutralinojs client (minified)
neutralino.js

# Compiled JS files
app/build/bundle.js
extensions/build

# Neutralinojs related files
.storage
*.log
.tmp/