body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    overflow: hidden;
}

div#root {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

div#content {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}
